@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";

@import "footer.css";


.work {
}
.work__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.work__item {
    
}
.work__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #fff;
    width: 100%;
    height: auto;
    min-height: 250px;
    background: var(--bg-card);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 20px;
    transition: var(--transition);
}

.work__prev {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.work__link img{
    border-radius: var(--border-radius);
    width: 100%;
    border: var(--border);
}
.work__comments {
    font-weight: 500;
    font-size: 24px;
}











/* ===================================================================== */
/* ============================= MEDIA ======================================== */
/* ===================================================================== */

@media (max-width: 700px) {
    .work__list {
        grid-template-columns: none;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }
}

